#search {
	position:relative;
}
#s {
	color: #49494b;
	font: normal 18px/20px "Lato", Arial, sans-serif;
	padding: 0px 10px;
	width: 195px;
	height: 32px;
	border: 0;
	background: #FFF;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	position: relative;
	left: 5px;
}
#searchform #searchsubmit {
	position:relative;
	bottom: 29px;
	left: 360px;
	width: 24px;
	height: 24px;
	border: 0px;
	background: url(../images/searchbutton.png) no-repeat transparent;
	transition: all .1s ease-in-out;
}
#searchform #searchsubmit:active {
	background: url(../images/searchbutton2.png) no-repeat transparent;
}
